@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --fonte-titulo: 'Passion One', sans-serif;
    --fonte-texto: 'Sriracha', 'cursive';
}

*{
    margin: 0px;
    padding: 0px;
    
}

body{
    background-color: rgb(255, 255, 255);
}
header{
    text-align: center;
    height: 150px;
    background-color: black;
    padding: 20px;
}

header > h1{
    font-size: 4em;
    color: white;
    font-family: var(--fonte-titulo);
    margin-bottom: 10px;
}

header > p{
    font-size: 1em;
    color: white;
    font-family: var(--fonte-titulo);
}

header a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
}

section.normal{
    background-color: white;
    color: black;
    font-family: var(--fonte-texto);
    font-size: 2em;
    margin-left: 20px;
}

section.imagem{
    background-color: rgb(44, 44, 44);
    color: white;
    font-size: 2em;
    font-family: var(--fonte-texto);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.384);
    background-size: cover;
    background-attachment: fixed;
}

#animal{
    background-image: url(imagens/imagens/background001.jpg);
    height:500px;
    background-position: right center;
}
.imagem p{
    margin-left: 30px;
    background-color: rgba(0, 0, 0, 0.411);
    width: 400px;
    text-shadow: 2px 2px 0px black;
}

#poesia{
    background-image: url(imagens/imagens/background002.jpg);
    background-position: center right;
}